body{
	font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar{
	display:none;
}
.popup-header{
	width:565px;
	height:96px;
	margin:-18px;
	margin-bottom:10px;
	background-color:#C51109;
	padding-top:20px;
}
.header-title{
	height:40px;
	width:565px;
	text-align:left;
	padding-left:28px;
	margin:0;
}
.ytq-title{
	font-size:1.7em;
	color:white;
	font-family:'Roboto',sans-serif;
}
.navbar{
	height:55px;
	width:565px;
	padding:0;
	margin:0;
}
.menu-item{
	height:50px;
	width:282.5px;
	line-height:45px;
	margin:0;
	float:left;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#94D8FF;
	background-color:#AC0B04;
	border-bottom:7px solid #94D8FF;
	transition: all .2s ease-in-out;
	user-select:none;
}
.menu-item:hover{
	height:45px;
	border-width:12px;
	background-color: #FF817C;
}
.menu-item-active{
	height:45px;
	border-width:12px;
	background-color:#C51109;
}
.menu-item-symbol{
	transform: rotate(45deg);
}
.remove-all-btn{
	position:absolute;
	display:block;
	top:1.2em;
	right:0px;
	width:25px;
	height:25px;
	line-height:25px;
	font-size:1.1em;
	font-weight:bold;
	text-align:center;
	background-color: #FB6969;
	color:#FFF;
	cursor:pointer;
}
.section-label{
	display:block;
	width:520px;
	height:40px;
	line-height:40px;
	font-size:1.6em;
	text-align:left;
	padding-left:10px;
	border-bottom:1px solid #CCCCCC;
	outline:none;
	margin-bottom:0;
	margin-top:10px;
	cursor:pointer;
}
.separator{
	width:100%;
	height:0;
	border:1px solid #CCCCCC;
}
.window-container{
	width:540px;
	height:450px;
	margin-top:10px;
	overflow-y:scroll;
}
.window-container::-webkit-scrollbar{
	display:none;
}
.window{
	position:absolute;
}
.queue-window{
	z-index:1;
}
.search-window{
	z-index:1000;
}
.window-inactive{
	transform: translateX(-600px);
}
.no-videos{
	display:block;
	position:absolute;
	padding:10px;
	margin:0;
	width:100%;
	height:400px;
	line-height:400px;
	font-size:2.3em;
	font-weight:bold;
	font-family:'Roboto',sans-serif;
	text-align:center;
	z-index:100;
}
.vid-list-container{
	height:450px;
	width:100%;
	padding:0;
	margin:0;
	margin-left:-5px;
	overflow-y:scroll;
	background-color:#FFF;
}
.vid-list-container::-webkit-scrollbar{
	display:none;
}
.vid-list{
	list-style-type:none;
	padding:0;
	padding-bottom:130px;
	margin:0 auto;
}
.vid-list-item{
	margin-bottom:10px;
	margin-top:20px;
}
.vid-list-item-inner{
	width:450px;
	height:80px;
	margin:0 auto;
	margin-bottom:10px;
	display:table;
	padding:0;
	background-color:#FFF;
}
.action-left{
	height:45px;
	width:30px;
	display:table-cell;
	padding:0;
	margin-right:5px;
	cursor:pointer;
}
.action-left-inner{
	width:30px;
	position:relative;
	bottom:10px;
	text-align:center;
	font-size:1.4em;
	font-weight:bold;
	margin-right:5px;
}
.action-left-over{
	color:red;
}
.thumb-container{
	width:150px;
	height:45px;
	padding:0;
	float:left;
	display:table-cell;
}
.thumbnail{
	height:80px;
}
.thumb-container:hover+.video-desc>.desc-anchor>.video-title{
	color:#0000EE;
}
.desc-anchor{
	text-decoration: none;
	color:#000;
}
.desc-anchor:hover>.video-title{
	color:#0000EE;
}
.video-desc{
	float:left;
	height:45px;
	width:225px;
	margin-left:8px;
	text-align:left;
}
.video-info{
	display:block;
	width:150px;
}
.video-title{
	display:block;
	font-weight:bold;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow:hidden;
	line-height: 1.3em;
	max-height: 2.6em;
	font-size:1.3em;
}
.video-publisher{
	font-size:1em;
}
.video-views{
	font-size:.9em;
}
.action-right{
	height:45px;
	width:30px;
	display:table-cell;
	padding:0;
}
.action-right-inner{
	width:30px;
	position:relative;
	bottom:10px;
	text-align:center;
	font-size:1.6em;
	font-weight:bold;
	cursor:pointer;
}
.action-right-inner-over{
	color:#EEE;
}