<!doctype html>
<html lang="en" ng-app="ytQueue">
<head>
	<meta charset="UTF-8">
	<title>YoutubeQueue</title>
	<link href="css/popup.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/queue.js"></script>
	<script src="js/effects.js"></script>
</head>
<body>
	<div class="popup-header">
		<div class="header-title">
			<span class="ytq-title">Youtube&trade; Queue</span>
		</div>
		<div class="navbar">
			<div class="menu-item menu-item-active">
				<div class="hamburger">&#9776;</div>
			</div>
			<div class="menu-item">
				<span class="menu-item-symbol">&#9906;</span>
			</div>
		</div>
	</div>
	<div class="window-container">
		<div class="window queue-window">
			<h3 id="history-header" class="section-label">History</h3>
			<div id="history-container" class="vid-list-container" ng-controller="YtHistory as history">
				<div id="no-history" class="no-videos-container"><span class="no-videos">No Videos</span></div>
				<span id="remove-history" class="remove-all-btn" ng-click="removeAll()">X</span>
				<ul id="history-list" class="vid-list">
					<li id="queue-list-item-{{$index}}" class="vid-list-item" ng-repeat="video in history.videos">
						<div class="vid-list-item-inner">
							<div class="action-left" ng-click="history.removeVideo($index)">
								<div class="action-left-inner">
									{{$index + 1}}
								</div>
							</div>
							<div class="thumb-container">
								<a ng-href="http://www.youtube.com{{video.url}}" class="thumbnail-anchor">
									<img class="thumbnail" ng-src="{{video.thumbnail}}" alt="Thumbnail">
								</a>
							</div>
							<div class="video-desc">
								<a class="desc-anchor" ng-href="http://www.youtube.com{{video.url}}">
									<span class="video-title video-info" title="{{video.title}}">{{video.title}}</span>
									<span class="video-publisher video-info">{{video.publisher}}</span>
									<span class="video-views video-info">{{video.views}}</span>
								</a>
							</div>
							<div class="action-right">
								<div class="action-right-inner">
									&#9776;
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<h3 id="up-next-header" class="section-label active-accord">Up Next...</h3>
			<div id="vid-container" class="vid-list-container" ng-controller="YtQueue as queue">
				<div id="no-queue" class="no-videos-container"><span class="no-videos">No Videos</span></div>
				<span id="remove-queue" class="remove-all-btn" ng-click="removeAll()">X</span>
				<ul id="queue-list" class="vid-list">
					<li id="vid-list-item-{{$index}}" class="vid-list-item" ng-repeat="video in queue.videos">
						<div class="vid-list-item-inner">
							<div class="action-left" ng-click="queue.removeVideo($index)">
								<div class="action-left-inner">
									{{$index + 1}}
								</div>
							</div>
							<div class="thumb-container">
								<a ng-href="http://www.youtube.com{{video.url}}" class="thumbnail-anchor">
									<img class="thumbnail" ng-src="{{video.thumbnail}}" alt="Thumbnail">
								</a>
							</div>
							<div class="video-desc">
								<a class="desc-anchor" ng-href="http://www.youtube.com{{video.url}}">
									<span class="video-title video-info" title="{{video.title}}">{{video.title}}</span>
									<span class="video-publisher video-info">{{video.publisher}}</span>
									<span class="video-views video-info">{{video.views}}</span>
								</a>
							</div>
							<div class="action-right" ng-click="addVideo()">
								<div class="action-right-inner">
									&#9776;
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="window search-window window-inactive">
		</div>
	</div>
</body>
</html>